name: Publish Adyen3DS2.podspec
on: [workflow_dispatch]
jobs:

  publish:
    runs-on: macos-12
    steps:
    - uses: actions/checkout@v2

    - name: Select latest Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable

    - name: Publish Adyen3DS2.podspec
      run: |
        gem install cocoapods
        pod trunk push Adyen3DS2.podspec --allow-warnings
      env:
        COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
